*,
*::after, 
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 17px;
  line-height: 26px;
  display: flex;
  flex-direction: column;
  box-sizing: inherit;
  font-family: sans-serif;
}

.page{
  height: 100%;
  scroll-behavior: smooth;
}

.page__body{
  display: flex;
  flex-direction: column;
  height: 100%;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  color: var(--text-color);
}

:root{
  --header-color: #d87d4a;
  --text-color: #000C24;
}

.container{
  max-width: 1280px;
  padding: 0 10px;
  margin: 0 auto;
}


