.header{
  background-image: url(../../img/bg-img-svg.svg);
  height: 100vh;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  
  &__nav-content{
    display: flex;
    align-items: center;
  }
  
  &__moon-icon{
    margin-left: 100px;
  }
  
  &__list{
    display: flex;
    align-items: center;
    height: 132px;
    margin-left: 50px;
  }
  
  &__item a{
    position: relative;
    font-weight: 500;
    font-size: 21.4px;
    line-height: 24px;
    color: var(--link-color);
    transition: color 0.3s ease;
    
    &:before {
      content: "";
      position: absolute; 
      width: 0;
      height: 2px;
      left: auto;
      right: 0;
      bottom: 0;
      background-color: var(--header-color);
      transition: .3s ease;
    }
    
    &:hover::before{
      content: "";
      border-bottom: 1px solid var(--header-color);
      width: 100%;
      left: 0;
      right: auto;
      transition: .3s ease;
    }
    
    &:hover{
      color: var(--header-color);
      transition: color 0.3s ease;
    }
  }
  
  &__item{
    position: relative;
    z-index: 0;
  }
  
  &__item-first{
    position: absolute;
    left: -50px;
    top: -40px;
    z-index: -1;
  }
  
  &__item:not(:last-child){
    margin-right: 76px;
  } 
  
  // dark 
  
  &__dark-wrapper{
    margin-left: 150px;
  }
  
  &__dark {
    background-color: var(--text-color);
    transition: 0.3s ease;
  }
  
  &__checkbox {
    position: absolute;
    transition: 0.5s ease;
    
  }
  
  &__label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
  }
  
  &__ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
  }
  
  &__checkbox:checked + .header__label .header__ball {
    transform: translateX(24px);
  }
  
  &__close-button, .header__open{
    display: none;
  }
  
  &__info-name{
    color: #fff;
    font-weight: 800;
    font-size: 45.1778px;
    line-height: 51px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin-top: 130px;
  }
  
  &__info-text{
    font-weight: 600;
    font-size: 28.5333px;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 38px;
  }
  
  &__info-list{
    display: flex;
    align-items: center;
  }
  
  &__info-item:not(:last-child){
    margin-right: 22px;
  }
  
  &__social-icon{
    fill: var(--link-color);
    transition: .3s ease;
  }
  
  &__social-icon:hover{
    cursor: pointer;
    fill: var(--header-color);
    transition: .3s ease;
    transform: scale(1.1)
  }
  
  // scroll
  
  &__scroll{
    display: inline-block;
    transition: .3s ease;
    margin-top: 100px;
    
    &:hover .header__scroll-content svg {
      fill: #FFFFFF;
      transform: translateY(10px);
      transition: .3s ease;
    }
  }
  
  &__scroll-content{
    display: flex;
    align-items: center;
    transition: .3s ease;
    
    
    &:hover .header__scroll-text{
      color: #fff;
      transition: .3s ease;
      
    }
  }
  
  &__scroll svg{
    fill: var(--link-color);
  }
  
  &__scroll-text{
    margin-left: 10px;
    color: var(--link-color);
  }
  
  
}

.text-type{
  color: var(--header-color);
  padding: 3px;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}


// media queries
@media (max-width: 1231px) {
  .header{
    &__dark-wrapper{
      margin-left: 50px;
    }
    
    &__item a{
      font-size: 17px;
    }
    
    &__item:not(:last-child){
      margin-right: 50px;
    }
    
    &__item-first{
      width: 130px;
      top: -40px;
      left: -42px;
    }
    
    &__label{
      height: 20px;
      width: 40px;
    }
    
    &__ball{
      top: 1px;
      left: 1px;
      height: 18px;
      width: 18px;
    }
  }
  .fa-sun, .fa-moon{
    font-size: 10px;
  }
}

@media (max-width: 1015px) {
  .header{
    &__info-name{
      width: 400px;
      margin-top: 50px;
    }
    
    &__info-text{
      max-width: 410px;
      width: 100%;
    }
  }
}


@media (max-width: 825px) {
  .header{
    
    &__list{
      margin-left: 40px;
    }
    
    &__item:not(:last-child) {
      margin-right: 40px;
    }
    
    .header__item-first {
      width: 100px;
      top: -44px;
      left: -20px;
    }
    
    
    &__info-name{
      font-size: 38px;
      line-height: 45px;
    }
    
    &__info-text{
      font-size: 22px;
    }
  } 
}

@media (max-width: 760px) {
  .header{
    background-position: center center;
    
    &__nav-content{
      position: relative;
      top: 20px;
    }
    
    .header__item-first {
      left: 65px;
    }
    
    &__open, .header__close-button{
      display: block;
      background-color: transparent;
      border: none;
      outline: none;
      color: #fff;
    }
    
    &__list{
      width: 30%;
      border-radius: 5px;
      flex-direction: column;
      position: absolute;
      top: -20px;
      background-color: #000;
      margin-left: 0;
      left: -10px;
      height: 100vh;
      box-shadow: 10px 0px 10px rgba(0,0,0,0.5);
      display: none;
      padding-top: 100px;
    }
    
    &__item{
      text-align: center;
    }
    
    &__item:not(:last-child) {
      margin-right: 0;
      margin-bottom: 30px;
    }
    
    &__dark-wrapper{
      position: absolute;
      right: 0;
      top: 0;
    }
    
    &__toggle-modal, .header__close-button, .header__open{
      display: block;
    }
    
    &__close-button{
      position: absolute;
      right: 30px; 
      top: 20px;
    }
    
    &__dark-wrapper{
      right: 300px;
    }
    
    &__open svg, .header__close-button svg{
      width: 20px;
    }
  }
  
}

@media (max-width: 647px) {
  .header{
    
    .header__item-first {
      left: 50px;
    }
    
    &__info-name {
      font-size: 30px;
      margin-top: 70px;
    }
    
  }
}
@media (max-width: 600px) {
  .header{
    &__item-first {
      left: 42px;
    }
    
    &__info-name {
      font-size: 25px;
      line-height: 30px;
    }
    
    &__info-text {
      font-size: 20px;  
    }
    
    &__info-item:not(:last-child){
      margin-right: 10px;
    }
    
    &__dark-wrapper{
      right: 180px;
    }
  }
}



@media (max-width: 445px) {
  .header{
    
    &__list{
      width: 60%;
    }
    
    &__info-name{
      width: 210px;
    }
    
    &__info-text{
      width: 200px;
    }
    
    &__dark-wrapper{
      right: 80px;
    }
  }
  .header .header__item-first {
    left: 84px;
  }
}

@media (max-width: 445px) {
  .header{
    &__dark-wrapper{
      right: 30px;
    }
  }
  
  .header .header__item-first {
    left: 44px;
  }
}

@media (max-width: 375px) {
  .header .header__item-first {
    left: 60px;
  }
}