.header{
  background-image: url(../../img/bg-img-svg.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff;
  
  &__list{
    display: flex;
    align-items: center;
    // justify-content: center;
    height: 132px;
    margin-left: 50px;
  }
  
  &__item a{
    position: relative;
    font-weight: 500;
    font-size: 21.4px;
    line-height: 24px;
    color: #928A97;
    transition: color 0.3s ease;

    &:before {
      content: "";
      position: absolute; 
      width: 0;
      height: 2px;
      left: auto;
      right: 0;
      bottom: 0;
      background-color: var(--header-color);
      transition: .3s ease;
    }

    &:hover::before{
      content: "";
      border-bottom: 1px solid var(--header-color);
      width: 100%;
      left: 0;
      right: auto;
      transition: .3s ease;
    }

    &:hover{
      color: var(--header-color);
      // font-weight: bold;
      transition: color 0.3s ease;
    }
  }

  &__item{
    position: relative;
    z-index: 0;
  }
  
  &__item-first{
    position: absolute;
    left: -50px;
    top: -40px;
    z-index: -1;
    // background-image: url(../../img/icon-nav.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  &__item:not(:last-child){
    margin-right: 76px;
  }
  
  
}