.skills{
  margin-top: 165px;
  
  &__info-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  &__reytings{
    width: 600px;
  }
  
  &__title{
    font-weight: 600;
    font-size: 38.0444px;
    line-height: 43px;
    margin-bottom: 40px;
  }
  
  &__info{
    color: var(--text-color);
    font-weight: 400;
    font-size: 28.5333px;
    line-height: 170%;
  }
  
  &__list{
    width: 500px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  &__item{
    width: 110px;
    margin-bottom: 47px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  &__item-title{
    font-weight: 600;
    font-size: 16.6444px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
  }
  
  &__img-content{
    width: 600px;
    overflow: hidden;
  }

  & svg{
    fill: var(--text-color);
  }

  & .header__scroll-text{
    color: var(--text-color);

    &:hover{
      color: #222;
    }
  }
}

@media (max-width: 1000px ) {
  .skills{
    &__title{
      font-size: 35px;
    }
    &__info{
      font-size: 23px;
    }
  }
}

@media (max-width: 900px ) {
  .skills{
    &__list{
      width: 400px;
    }
  }
}

@media (max-width: 760px ) {
  .skills{
    
    &__img-content{
      width: 600px;
    }
    
    &__info-wrapper{
      align-items: center;
    }
    
    &__title{
      font-size: 30px;
    }
    &__info{
      font-size: 20px;
    }
  }
}

@media (max-width: 735px) {
  .skills{

    &__info{
      margin-bottom: 40px;
    }
    
    &__list{
      margin: 0 auto;
      width: 510px;
    }
    
    &__info-wrapper{
      text-align: center;
      align-items: center;
      justify-content: center;
    }
    &__img-content{
      display: none;
    }
  }
}

@media (max-width: 528px) {
  .skills{

    &__title{
      font-size: 25px;
    }
    &__info{
      font-size: 16px;
    }

    &__list{
      width: 440px;
    }
  }
}

@media (max-width: 464px){
  .skills{
    &__title{
      margin: 0;
    }
    &__list{
      width: 300px;
    }
  }
}